<!-- <p>info works!</p> -->

<div class="main container">
    <div class="subContainer">
        <div class="newsletter">
            <div class="news">
                <div class="topofmail">
                    <p class="wordnewsletter">Newsletter</p>
                    <p class="up">Get timely updates from your<br>favorite products</p>
                </div>
                <div class="mail">
                    <div><img src=".\assets\images\brand\svg\mail.svg" alt=""></div>
                    <div>
                        <p>ilyas.traikia@yahoo.com</p>
                    </div>
                </div>
            </div>
            <div class="otherinfo">
                <div class="lftbox">
                    <div class="serve">
                        <div class="allinfo HH">
                            <p>Services</p>
                        </div>
                        <div class="allinfo">
                            <p>Email Marketing</p>
                        </div>
                        <div class="allinfo">
                            <p>Brandings</p>
                        </div>
                        <div class="allinfo">
                            <p>Caaignmp</p>
                        </div>
                        <div class="allinfo">
                            <p>Offline</p>
                        </div>
                    </div>
                    <div class="about">
                        <div class="allinfo HH">
                            <p>About</p>
                        </div>
                        <div class="allinfo">
                            <p>Our Story</p>
                        </div>
                        <div class="allinfo">
                            <p>Benefits</p>
                        </div>
                        <div class="allinfo">
                            <p>Team</p>
                        </div>
                        <div class="allinfo">
                            <p>Career</p>
                        </div>
                    </div>
                </div>
                <div class="rtbox">
                    <div class="Contact">
                        <div class="allinfo HH">
                            <p>Contact</p>
                        </div>
                        <div class="allinfo">
                            <p>Facebook</p>
                        </div>
                        <div class="allinfo">
                            <p>Instagram</p>
                        </div>
                        <div class="allinfo">
                            <p>Twitter</p>
                        </div>
                        <div class="allinfo">
                            <p>LinkedIn</p>
                        </div>
                    </div>
                    <div class="Help">
                        <div class="allinfo HH">
                            <p>Help</p>
                        </div>
                        <div class="allinfo">
                            <p>FAQ</p>
                        </div>
                        <div class="allinfo">
                            <p>Contact Us</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>