<!-- <p>new-arrival works!</p> -->

<div class="main container">
    <div class="subContainer">

        <div class="bannerBottom">
            <div class="imagesnail">
                <img src=".\assets\images\brand\jpg\item2.png" alt="">
            </div>
            <div class="descriptionSnail">
                <div class="newarri">
                    <p class="arrival">NEW ARRIVALS</p>
                </div>
                <div class="wood">
                    <p class="woodsnail">Wooden Snail<br>Decor</p>
                </div>
                <div class="btn"><button>Oder Now</button></div>
            </div>
        </div>

    </div>
</div>