<!-- <p>bottom-banner works!</p> -->

<div class="main container">
    <div class="subContainer">
        <div class="footerrow">
            <div class="im1"><img src=".\assets\images\brand\jpg\footerItem1.png" alt=""></div>
            <div class="im1"><img src=".\assets\images\brand\jpg\footerItem2.png" alt=""></div>
            <div class="im1"><img src=".\assets\images\brand\jpg\footerItem3.png" alt=""></div>
            <div class="im1"><img src=".\assets\images\brand\jpg\footerItem4.png" alt=""></div>
            <div class="im1"><img src=".\assets\images\brand\jpg\footerItem5.png" alt=""></div>
            <div class="im1"><img src=".\assets\images\brand\jpg\footerItem6.png" alt=""></div>
        </div>

    </div>
</div>