<!-- <p>policies works!</p> -->

<div class="main container">
    <div class="subContainer">
        <div class="policies">
            <div class="policy return">
                <p class="boldthis">90 Days Return</p>
                <p class="addrss">
                    5the Avenue, E 28th St,<br>Brooklyn NY, 2300 USA
                </p>
            </div>
            <div class="policy delivary">
                <p class="boldthis">Free Delivery</p>
                <p class="addrss">
                    5the Avenue, E 28th St,<br>Brooklyn NY, 2300 USA
                </p>
            </div>
            <div class="policy payment">
                <p class="boldthis">Secure Payment</p>
                <p class="addrss">
                    5the Avenue, E 28th St,<br>Brooklyn NY, 2300 USA
                </p>
            </div>
            <div class="policy warrenty">
                <p class="boldthis">100% Free Warranty</p>
                <p class="addrss">
                    5the Avenue, E 28th St,<br>Brooklyn NY, 2300 USA
                </p>
            </div>
        </div>


    </div>
</div>